* {
  margin: 0;
  padding: 0;
}

nav ul {
  list-style-type: none;
}

$footer-height: 79px;
$wrapper-width: 950px;
html {
  position: relative;
  min-height: 100%;
}

body {
  background-color: #ccc;
  margin: 0 0 $footer-height;
}

.wrapper {
  max-width: $wrapper-width;
  margin: 0 auto;
  background-color: white;
}

$link-color: #0b4367;
a, a:visited {
  color: $link-color;
}

.logo{
  background: url(img/logo.png) no-repeat center center;
  background-size: contain;
  width: 174px;
  height: 74px;
  text-indent: -999em;
}

@mixin clearfix {
  &::after {
    content:"";
    clear: both;
    display: block;
  }
}

header{
  @include clearfix;
  padding: 25px;
  position: relative;

  .logo {
    position: absolute;
    top: 9px;
  }

  nav {
    @include clearfix;
  }

  ul {
    float: right;
    margin-top: 2px;
  }
}

.pages {
  li {
    color: $link-color;
    font: 0.688em "Tahoma", sans-serif;
    display: inline-block;
    padding: 0 0.5em;
    border-left: 1px solid $link-color;

    &:first-child{
      border-left: none;
      padding-left: 0;
    }
  }
}

.banner{
  background: url(img/banner.png) center center no-repeat;
  border-top: 4px solid #a3bed4;
  height: 102px;
  margin-top: 5px;

  h2 {
    margin: 29px 0 0 127px;
    font: 1.875em "Myriad Pro", sans-serif;
    color: white;
    font-style: italic;
  }
}

@mixin background-gradient($top, $bottom, $border ) {
  background: $top; /* Old browsers */
  background: -moz-linear-gradient(top, $top 0, $top 15px, $bottom 15px, $bottom 31px, $border 31px); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$top), color-stop(15px,$top), color-stop(15px,$bottom), color-stop(31px,$bottom), color-stop(31px,$border)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, $top 0%,$top 15px,$bottom 15px,$bottom 31px,$border 31px); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, $top 0%,$top 15px,$bottom 15px,$bottom 31px,$border 31px); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, $top 0%,$top 15px,$bottom 15px,$bottom 31px,$border 31px); /* IE10+ */
  background: linear-gradient(to bottom, $top 0%,$top 15px,$bottom 15px,$bottom 31px,$border 31px); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$top', endColorstr='$border',GradientType=0 ); /* IE6-9 */
}

$left-column-width: 221px;
.main-nav {
  padding: 0 0px 0 $left-column-width;
  @include background-gradient(#edeef7, #d1d2eb, #a3a6d4);
  height: 35px;
  > ul > li {
    display: inline-block;
    position: relative;
    height: 35px;
    &:hover > a, &:focus > a, &:active > a {
      color: white;
      text-shadow: none;
      @include background-gradient(#b6d8e6, #458ab0, #2a6c97);
    }
  }
  > ul > li > a {
    text-decoration: none;
    text-transform: uppercase;
    font: bold 0.875em "Myriad Pro", sans-serif;
    text-shadow: 0 1px 1px white;
    padding: 7px 7px 11px 15px;
    display: inline-block;
  }
}


.dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  background-color: #9fcee0;
  width: 100%;
  &:hover, a:hover + &, a:focus + &, a:active + & {
    display: block;
  }
  li > a {
    color: $link-color;
    font: 0.688em "Tahoma", sans-serif;
    padding: 8px 15px;
    display: block;
    &:hover, &:focus, &:active {
      background: #256893;
      color: white;
    }
  }
}

.content {
  @include clearfix;
  background: #eee;
}

$luxcel-violet: #7371b1;
aside {
  float: left;
  width: $left-column-width;
  min-width: $left-column-width;
  background-color: #eee;

  > h2 {
    color: white;
    font: 1.125em "Myriad Pro", sans-serif;
    text-transform: uppercase;
    background-color: $luxcel-violet;
    padding: 3px 25px 5px
  }

  > nav {
    margin-top: 18px;
  }

  > nav > ul {
    list-style-image: url(img/bullet.png);
    font: 0.75em "Tahoma", sans-serif;
    padding-left: 40px;
    > li {
      margin-top: 12px;
      &.active, &:hover {
        list-style-image: url(img/active-bullet.png);
      }
    }
  }
}

main {
  padding: 5px 40px 20px;
  float: right;
  max-width: 649px;
  background: white;
  h2{
    font: 1.5em "Myriad Pro", sans-serif;
    color: #0b4367;
    padding: 15px 0 10px;
    border-bottom: 1px solid #ddd;
  }
}

.breadcrumbs {
  ol {
    list-style-type: none;
  }

  li {
    display: inline-block;
    margin-right: 1em;
    font: 0.688em "Tahoma", sans-serif;
    &::after {
      content: "";
      width: 4px;
      height: 6px;
      display: inline-block;
      background: url('img/chevron-right.png');
      position: relative;
      left: 8px;
    }
    &:last-child::after {
      content: "";
      background-image: none;
    }
  }

}

article {
  margin: 25px 0;
  @include clearfix;

  h1 {
    color: #555393;
    font: 1.125em "Tahoma", sans-serif;
    margin-bottom: 21px;
  }

  img {
    float: left;
    margin: 0 1.5em 1em 0;
  }

  p {
    margin-bottom: 1.5em;
    font: 0.75em "Verdana", sans-serif
  }
}

footer {
  background-color: $luxcel-violet;
  padding: 20px 25px;
  margin: 0 auto;
  max-width: $wrapper-width - 50px;
  position: absolute;
  bottom: 0;
  left: -50%;
  right: -50%;
  @include clearfix;
  &::before{
    content: "";
    position: absolute;
    width: $left-column-width;
    height: 666em;
    background: #eee;
    top: -666em;
    z-index: -1;
    left: 0;
  }
  &::after {
    content: "";
    position: absolute;
    width: calc(100% - #{$left-column-width});
    height: 666em;
    background: white;
    top: -666em;
    z-index: -1;
    right: 0;
  }
  .logo {
    float: right;
    width: 127px;
    height: 33px;
    margin-top: 5px;
  }
  .info {
    float: left;
  }
  p {
    color: white;
    font: 0.688em "Tahoma", sans-serif;
  }

  a, a:visited {
    color: inherit;
    text-decoration: none;
  }
  .tel{
    padding-right: 1em;
    border-right: 1px solid #a3a6d4;
  }
  .email {
    padding-left: 1em;
  }
}