* {
  margin: 0;
  padding: 0;
}

nav ul {
  list-style-type: none;
}

body{
  background-color: #ccc;
}

.wrapper {
  max-width: 950px;
  margin: 0 auto;
  background-color: white;
}

$link-color: #0b4367;
a, a:visited {
  color: $link-color;
}

.logo{
  background: url(img/logo.png) no-repeat center center;
  background-size: contain;
  width: 174px;
  height: 74px;
  color: transparent;
}

@mixin clearfix {
  &::after {
    content:"";
    clear: both;
    display: block;
  }
}

header{
  @include clearfix;
  padding: 25px;
  position: relative;

  .logo {
    position: absolute;
    top: 0;
  }

  nav {
    @include clearfix;
  }

  ul {
    float: right;
  }
}

.pages {
  li {
    color: $link-color;
    font: 0.688em "Tahoma";
    display: inline-block;
    padding: 0 0.5em;
    border-left: 1px solid $link-color;

    &:first-child{
      border-left: none;
    }
  }
}

.banner{
  background: url(img/banner.png) center center no-repeat;
  border-top: 4px solid #a3bed4;
  height: 100px;

  h2 {
    margin: 31px 0 0 125px;
    font: 1.875em "Myriad Pro";
    color: white;
    font-style: italic;
  }
}

@mixin background-gradient($top, $bottom, $border ) {
  background: $top; /* Old browsers */
  background: -moz-linear-gradient(top, $top 0, $top 15px, $bottom 15px, $bottom 31px, $border 31px); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$top), color-stop(15px,$top), color-stop(15px,$bottom), color-stop(31px,$bottom), color-stop(31px,$border)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, $top 0%,$top 15px,$bottom 15px,$bottom 31px,$border 31px); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, $top 0%,$top 15px,$bottom 15px,$bottom 31px,$border 31px); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, $top 0%,$top 15px,$bottom 15px,$bottom 31px,$border 31px); /* IE10+ */
  background: linear-gradient(to bottom, $top 0%,$top 15px,$bottom 15px,$bottom 31px,$border 31px); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$top', endColorstr='$border',GradientType=0 ); /* IE6-9 */
}

.main-nav {
  padding: 0 0px 0 225px;
  @include background-gradient(#edeef7, #d1d2eb, #a3a6d4);
  height: 35px;
  > ul > li {
    display: inline-block;
    position: relative;
    height: 35px;
    &:hover > a, &:focus > a, &:active > a {
      color: white;
      text-shadow: none;
      @include background-gradient(#b6d8e6, #458ab0, #2a6c97);
    }
  }
  > ul > li > a {
    text-decoration: none;
    text-transform: uppercase;
    font: bold 0.875em "Myriad Pro";
    text-shadow: 0 1px 1px white;
    padding: 7px 15px 11px;
    display: inline-block;
  }
}


.dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  background-color: #9fcee0;
  width: 100%;
  &:hover, a:hover + &, a:focus + &, a:active + & {
    display: block;
  }
  li > a {
    color: $link-color;
    font: 0.688em "Tahoma";
    padding: 8px 15px;
    display: block;
    &:hover, &:focus, &:active {
      background: #256893;
      color: white;
    }
  }
}

.content {
  display: flex;
}

$luxcel-violet: #7371b1;
aside {
  float: left;
  width: 225px;
  min-width: 225px;
  background-color: #eee;

  > h2 {
    color: white;
    font: 1.125em "Myriad Pro";
    text-transform: uppercase;
    background-color: $luxcel-violet;
    padding: 3px 25px 5px
  }
  > nav > ul {
    list-style-image: url(img/bullet.png);
    font: 0.75em "Tahoma";
    padding-left: 40px;
    > li {
      margin-top: 20px;

      &.active, &:hover {
        list-style-image: url(img/active-bullet.png);
      }
    }
  }
}

main {
  padding: 10px 40px 20px;

  h2{
    font: 1.5em "Myriad Pro";
    color: #0b4367;
    padding: 15px 0;
    border-bottom: 1px solid #ddd;
  }
}

.breadcrumbs {
  ol {
    list-style-type: none;
  }

  li {
    display: inline-block;
    margin-right: 1em;
    &::after {
      content: ">";
      position: relative;
      left: 0.5em;
    }
    &:last-child::after {
      content: "";
    }
  }

}

article {
  margin: 30px 0;
  @include clearfix;

  h1 {
    color: #555393;
    font-size: 1.125em;
    margin-bottom: 1.5em;
  }

  img {
    float: left;
    margin: 0 1.5em 1em 0;
  }

  p {
    margin-bottom: 1.5em;
    font: 0.75em "Verdana", sans-serif
  }
}

footer {
  background-color: $luxcel-violet;
  padding: 20px 25px;
  @include clearfix;
  .logo {
    float: right;
    width: 127px;
    height: 33px;
  }
  .info {
    float: left;
  }
  p {
    color: white;
    font: 0.688em "Tahoma";
  }

  a, a:visited {
    color: inherit;
    text-decoration: none;
  }
  .tel{
    padding-right: 1em;
    border-right: 1px solid #a3a6d4;
  }
  .email {
    padding-left: 1em;
  }
}